<%- model_class = Evento -%>
<% content_for :title_page do %>
  Agendamentos
<% end %>

<div class="panel panel-default">
<div class="panel-heading">
</div>
<div class="panel-body">
    <div class="table-responsive">
      <table class="table table-striped table-bordered table-hover">
        <thead>
          <tr>
            <th> Id </th>
            <th> Título </th>
            <th> Local </th>
            <th> Coordenador </th>
            <th> Redator </th>
            <th> Controlador </th>
            <th> Data Inicial </th>
            <th> Data Final </th>
            <th> Opções </th>
          </tr>
        </thead>
        
        <tbody>
          <% @eventos.each do |e| %>
            <tr>
              <td><%= e.id %></td>
              <td><%= e.titulo %></td>
              
              <td>
                <% unless e.local.nil? %> 
                 <%= e.local.descricao %>
                 <% end %>    

              </td>
              <td>
                 <% unless e.coordenador.nil? %> 
                    <%= e.coordenador.nome %>
                 <% end %>    
              </td> 

              <td>
                <% unless e.redator.nil? %>
                  <%= e.redator.nome %>
                <% end %>
              </td>

              <td>
                <% unless e.controlador.nil? %>
                  <%= e.controlador.nome %>
                <% end %>
              </td>
              
              <td>
                  <%= l e.data_inicial %>
              </td>
              
              <td>
                  <%= l e.data_final %>
              </td>
              <td>
                <%= link_to t('.edit', :default => t("helpers.links.edit")), edit_forum_evento_path(@forum, e)%>

                 
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>

  </div>

  <div class="panel-footer"><!-- paginação aqui... --></div>
</div>
</div>