<!-- Modal -->
<div class="modal fade" id="reativar-reuniao-<%=reuniao.id%>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
	    <div class="modal-content">
	    	<div class="panel panel-success">
		        <div class="panel-heading">
		            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
		            <h4 class="modal-title" id="myModalLabel">Reativar reunião</h4>
		        </div>
				<%= simple_form_for :buscar_reativar, :url => reativar_forum_reuniao_path(@forum, reuniao), 
					:method => "PATCH", html: {role: "form", class: "form-reativar-reuniao" } do |f| %>
				  <div class="panel-body">
					  <div class="row">
					  	<%= f.error_notification %>

					    <%= f.input :motivo, label: 'Motivo', as: :text, wrapper_html: {class: 'col-md-10'}, input_html: {rows: 3, style: 'width: 100%'} %>
					  </div>

				  </div>
				  <div class="panel-footer">
					  <%= f.button :submit, t('.save', :default => t("helpers.links.save")), disabled: true, class: 'btn btn-primary', data: {disable_with: 'Reativando reunião...'}  %>

					  <%= link_to t('.cancel', :default => t("helpers.links.cancel")), '#', :class => 'btn btn-outline btn-default', data: {dismiss: 'modal'}  %>
				  </div>
				<% end %>
			</div>
		</div>
	</div>
</div>
	