<div class="panel panel-default">
  <div class="panel-heading">
  </div>
<%= simple_form_for @user, html: {role: "form"} do |f| %>
  <div class="panel-body">
	  <%= f.error_notification %>

	  <div class="row">
      	<%= f.input :nome, :required => true, wrapper_html: {class: 'col-md-6'} %>
      	<%= f.input :email, :required => true, :autofocus => true, wrapper_html: {class: 'col-md-4'} %>
      </div>

	  <div class="row">
	    <%= f.input :qualificacao, placeholder: 'Qualificação', wrapper_html: {class: 'col-md-6'} %>
	  </div>

  </div>
  <div class="panel-footer">
	    <%= f.button :submit, t('.save', :default => t("helpers.links.save")), class: 'btn btn-primary' %>
	  <%= link_to t('.cancel', :default => t("helpers.links.cancel")), users_path, :class => 'btn btn-outline btn-default' %>
  </div>
<% end %>
</div>
	
