<% content_for :title_page do %>
<%=t('.show', :default => t("assuntos.show.title"))%>
<%end%>
<div class="panel panel-default">
  <div class="panel-heading">
  </div>
  <div class="panel-body">

	<p>
    <strong>Descrição:</strong>
    <%= @assunto.descricao %>
  </p>

  <p>
	  <strong>Fórum destino:</strong>
	  <%= @assunto.forum_destino.nome %>
	</p>
  
  <p>
    <strong>Detalhamento:</strong>
    <%= @assunto.detalhamento %>
  </p>

  <p>
    <strong>Prioridade:</strong>
    <%= @assunto.prioridade_text %>
  </p>

  <p>
    <strong>Categoria:</strong>
    <%unless @assunto.categoria.nil? %>
      <%= @assunto.categoria.descricao %>
    <% end %>
  </p>

  <% if @assunto.file? %>
    <p>
        <strong>Anexo:</strong>
        <%= link_to 'Download', :action => 'download_file', :id => @assunto.id  %>
    </p>  
  <% end %>

    <% unless @assunto.pai.nil? %>
        <p>
          <strong>Assunto Original:</strong>

          <%= link_to @assunto.pai.descricao, controller: "assuntos", action: "show", id: @assunto.pai %>
        </p>
    <% end %>

    <% unless @assunto.assuntos_filhos.empty? %>
        <h3> Assuntos derivados </h3>
        <table class="table table-striped table-bordered table-hover">
          <thead>
            <tr>
              <th>Código</th>
              <th>Descrição</th>
              <th>Data</th>
              <th>Status</th>
            </tr>
          </thead>
            <tbody>
            <% @assunto.assuntos_filhos.each do |f| %>
              <tr>
                <td><%= f.id %></td>
                <td><%= f.descricao %></td>
                <td><%= l f.created_at %></td>
                <td><%= f.status_text %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      <% end %>

      <% unless @assunto.notas.empty? %>
        <h3> Notas </h3>
        <table class="table table-striped table-bordered table-hover">
          <thead>
            <tr>
              <th>Descrição</th>
              <th>Usuário</th>
              <th>Data</th>
            </tr>
          </thead>
            <tbody>
            <% @assunto.notas.each do |f| %>
              <tr>
                <td><%= f.descricao %></td>
                <td><%= f.usuario.nome %></td>
                <td><%= l f.created_at %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      <% end %>

      <% unless @assunto.encaminhamentos.empty? %>
        <h3> Encaminhamentos </h3>
        <table class="table table-striped table-bordered table-hover">
          <thead>
            <tr>
              <th>Código</th>
              <th>Descrição</th>
              <th>Responsável(is)</th>
              <th>Prazo</th>
              <th>Status</th>
            </tr>
          </thead>
            <tbody>
            <% @assunto.encaminhamentos.each do |e| %>
              <tr>
                <td><%= e.codigo %></td>
                <td><%= e.descricao %></td>
                <td><%= e.users.to_a.to_sentence %></td>
                <td><%= l e.previsao %></td>
                <td><%= e.status_text %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      <% end %>

    </div>	
  </div>  

  <div class="panel-footer">
    <% if current_user == @assunto.usuario%>
	     <%= link_to t('.edit', :default => t("helpers.links.edit")), edit_forum_assunto_path(@forum, @assunto), :class => 'btn btn-primary' %>
    <% end %>

	  <%= link_to t('.back', :default => t("helpers.links.back")), forum_assuntos_path, :class => 'btn btn-outline btn-default' %>
  </div>
</div>