<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= content_for?(:title) ? yield(:title) : "Meetingup" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Meetingup" %>">
    <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>

    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="navbar-header">
        <%= image_tag("logo_cliente.png", height: '50', style:"margin-right: 10px; margin-top: 5px; margin-left: 10px") %>
        
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>

        <%= link_to icon(:home, 'Meeting up'), foruns_path, class: 'navbar-brand navbar-brand-centered' %>
      </div>

      <div class="navbar-collapse collapse">
        <%= render 'layouts/navbar' %>
      </div>
    </nav>

    <div class="container-fluid">
      <div class="row">
        <aside class="col-sm-3 col-md-2 sidebar">
          <%= render 'layouts/sidebar' %>
        </aside>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          <h1 class="page-header"><%= content_for?(:title_page) ? yield(:title_page) : "" %></h1>
          <%= render 'layouts/messages' %>
          <%= yield %>
        </div>
      </div>
    </div>

    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= yield :javascript %>
  </body>
</html>
